fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
httpx==0.27.0
appdevcommons>=0.1.2,<1.0.0
pytest==8.3.3
boto3==1.35.0
black==24.8.0
ruff==0.6.9
mypy==1.11.2

